body > header {
  background-color: $grey800;
  @include flexbox();
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-left: 1em;
  position: relative;
  height: $header-height;
  margin: 0;
  z-index: 30;

  &>h1 {
    color: $white;
    @include flex(none);
    @include order(1);
    font-size: 1.5rem;
    white-space: nowrap;
  }

  label[for="main-navigation-checkbox"] {
    color: $white;
    @include hamburger($header-height);
    @include flex(none);
    @include order(2);
    display: block;
  }
}

#main-navigation-checkbox {
  @include sr-only();

  & + header {
    & + aside {
      display: none;

      & nav > ul {
        list-style: none;
        padding-inline-start: 0;
      }
    }
  }

  &:checked {
    & + header {
      & + aside {
        background-color: $grey800;
        display: none;
        font-size: 1.5rem;
        height: 100vh;
        padding: 25vh 0;
    
        & ul li {
          padding: 0.5em;
          list-style: none;
          text-align: center;
        }
    
        & a {
          color: #fff;
          display: block;
          padding: 0.5em;
          text-align: center;
          text-decoration: none;
          user-select: none;
        }
      }

      // & > label[for="main-navigation-checkbox"] {
      //   @include hamburgerActive();
      // }
    }

    & + header,
    & + header + aside + main,
    & + header + aside + main + footer {
      @include offcanvas(-20em);
    }
  }

  &:focus {
    & + header {
      & > label[for="main-navigation-checkbox"] {
        @include hamburgerFocus();
      }
    }
  }
}



@media (min-width: 430px) {
  body>header>h1 {
    font-size: 2rem;
    text-align: center;
  }
}
