.sr-only {
  @include sr-only();
}

.sr-only:focus {
  @include sr-only-focus();
}

p[role="alert"] {
    background-color: lightcoral;
    color: #fff;
    padding: 10px;
    position: relative;
    z-index: 30;
}
