/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button, input, select, textarea {
    margin: 0
}

html {
    box-sizing: border-box
}

*, *::before, *::after {
    box-sizing: inherit
}

img, video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

td:not([align]), th:not([align]) {
    text-align: left
}

/* End minireset.css */

:root {
    --main-bg-color: #EDF2F7;
    --silver-color: #AAA9AD;
    --taupe-grey-color: #848689;
    --black-coral-color: #5B676D;
    --gunmetal-color: #2A3439;
    --dark-gunmetal-color: #1F262A;

    --header-height: 4rem;
    --footer-height: 10rem;
    --neg-footer-height: -10rem;
}

body {
    background-color: var(--main-bg-color);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

header:first-of-type {
    background-color: var(--dark-gunmetal-color);
    height: var(--header-height);
    padding: 1rem;
    position: relative;
    z-index: 30;
}

header > h1 {}
header h1 {}

header:first-of-type > h1 {
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    text-align: left;
    white-space: nowrap;
}

@media (min-width: 430px) {
    header:first-of-type > h1 {
        font-size: 2rem;
        text-align: center;
    }
}

label[for="main-navigation-checkbox"] {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: var(--header-height);
    position: absolute;
    width: var(--header-height);
    margin-left: auto;
    z-index: 20;
    top: 0;
    right: 0;
}

label[for="main-navigation-checkbox"] > span {
    background-color: currentColor;
    display: block;
    height: 2px;
    left: calc(50% - 16px);
    position: absolute;
    transform-origin: center;
    transition-duration: 250ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 32px;
}

label[for="main-navigation-checkbox"] > span:nth-child(1) {
    top: calc(50% - 9px);
}

label[for="main-navigation-checkbox"] > span:nth-child(2) {
    top: calc(50% - 1.5px);
}

label[for="main-navigation-checkbox"] > span:nth-child(3) {
    top: calc(50% + 6px);
}

#main-navigation-checkbox {
    display: none;
}

#main-navigation-checkbox:checked + header > label[for="main-navigation-checkbox"] span:nth-child(1) {
    transition-delay: 100ms;
    transition-duration: 300ms;
    transform: translateY(7.5px) rotate(45deg);
}

#main-navigation-checkbox:checked + header > label[for="main-navigation-checkbox"] span:nth-child(2) {
    transition-delay: 0;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    opacity: 0;
}

#main-navigation-checkbox:checked + header > label[for="main-navigation-checkbox"] span:nth-child(3) {
    transition-delay: 100ms;
    transition-duration: 300ms;
    transform: translateY(-7.5px) rotate(-45deg);
}

#main-navigation-checkbox + header + aside {
    display: none;
}

#main-navigation-checkbox:checked + header + aside {
    background-color: var(--dark-gunmetal-color);
    display: block;
    font-size: 1.5rem;
    height: 100vh;
    padding: 25vh 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

#main-navigation-checkbox:checked + header + aside li {
    padding: 0.5rem;
    text-align: center;
}

#main-navigation-checkbox:checked + header + aside a {
    color: #fff;
    display: block;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

#main-navigation-checkbox:checked + header + aside + main {
    display: none;
}

main:first-of-type {
    /* background-color: var(--silver-color); */
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    padding-bottom: var(--neg-footer-height);
}

p {
    padding: 1rem 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.sr-only:focus {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
}

p[role="alert"] {
    background-color: lightcoral;
    color: #fff;
    padding: 10px;
    position: relative;
    z-index: 30;
}

footer:last-of-type {
    background-color: var(--gunmetal-color);
    color: #fff;
    position: relative;
    height: var(--footer-height);
    width: 100%;
}
