/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sr-only:focus {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

p[role=alert] {
  background-color: lightcoral;
  color: #fff;
  padding: 10px;
  position: relative;
  z-index: 30;
}

:root {
  --header-height: 4em;
  --footer-height: 10em;
  --neg-footer-height: -10em;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

p {
  margin: 1em 0.5em;
}

.content-wrapper main:first-of-type {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  padding-bottom: var(--neg-footer-height);
}

body nav[aria-label="skip links navigation"] {
  background-color: lightyellow;
  position: absolute;
  z-index: 100;
  top: 1em;
  left: 1em;
}
body nav[aria-label="skip links navigation"] > a:focus {
  color: #3b3b3b;
  display: block;
  padding: 1em;
}

.content-wrapper header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-left: 1em;
  position: relative;
  height: 4em;
  margin: 0;
  z-index: 30;
}
.content-wrapper header h1 {
  color: #fff;
  -webkit-box-flex: none;
  -moz-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  flex-grow: 4;
  font-size: 3rem;
  text-align: center;
  white-space: nowrap;
}
.content-wrapper header label[for=main-navigation-checkbox] {
  border: 2px solid white;
  border-radius: 5px;
  color: #fff;
  -webkit-box-flex: none;
  -moz-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  display: block;
  margin: 0.25em;
  padding: 0.25em;
}

#main-navigation-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
#main-navigation-checkbox + .content-wrapper aside {
  display: none;
}
#main-navigation-checkbox + .content-wrapper aside nav > ul {
  list-style: none;
  padding-inline-start: 0;
}
@media screen and (max-width: 768px) {
  #main-navigation-checkbox + .content-wrapper header, #main-navigation-checkbox + .content-wrapper main, #main-navigation-checkbox + .content-wrapper footer {
    transition: transform 0.5s ease 0s;
  }
}
@media screen and (min-width: 769px), print {
  #main-navigation-checkbox + .content-wrapper header, #main-navigation-checkbox + .content-wrapper main, #main-navigation-checkbox + .content-wrapper footer {
    transition: margin 0.5s ease 0s;
  }
}
#main-navigation-checkbox:checked + .content-wrapper header > label[for=main-navigation-checkbox] span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
#main-navigation-checkbox:checked + .content-wrapper header > label[for=main-navigation-checkbox] span:nth-child(2) {
  opacity: 0;
}
#main-navigation-checkbox:checked + .content-wrapper header > label[for=main-navigation-checkbox] span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}
#main-navigation-checkbox:checked + .content-wrapper aside {
  background-color: #3b3b3b;
  display: none;
  font-size: 1.5rem;
  height: 100vh;
  padding: 25vh 0;
}
#main-navigation-checkbox:checked + .content-wrapper aside ul li {
  padding: 0.5em;
  list-style: none;
  text-align: center;
}
#main-navigation-checkbox:checked + .content-wrapper aside a {
  color: #fff;
  display: block;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  user-select: none;
}
@media screen and (max-width: 768px) {
  #main-navigation-checkbox:checked + .content-wrapper header, #main-navigation-checkbox:checked + .content-wrapper main, #main-navigation-checkbox:checked + .content-wrapper footer {
    transform: translate3d(-75%, 0, 0);
    -ms-transform: translate3d(-75%, 0, 0);
    -moz-transform: translate3d(-75%, 0, 0);
    -webkit-transform: translate3d(-75%, 0, 0);
    transition: transform 0.5s ease 0s;
  }
}
@media screen and (min-width: 769px), print {
  #main-navigation-checkbox:checked + .content-wrapper header, #main-navigation-checkbox:checked + .content-wrapper main, #main-navigation-checkbox:checked + .content-wrapper footer {
    margin-right: 20em;
    transition: margin 0.5s ease 0s;
  }
}
#main-navigation-checkbox:focus + .content-wrapper header label[for=main-navigation-checkbox] {
  background-color: #e1e1e1;
}

.content-wrapper footer {
  background-color: #3b3b3b;
  color: #fff;
  position: relative;
  height: 10em;
}
